.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connections-header {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif; 
    font-weight: 600;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(68px, 110px));
    gap: 10px;
    margin: 10px;
}

.top-button-container {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.gameGridItem {
    border: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 80px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif; 
    font-size: 12px;
    font-weight: 600;
}

.gameGridItem:hover {
    cursor: pointer;
}

.gameDate {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.dateSelect {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 4px;
    background-color: #e3ecf1;
    padding: 10px;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.new-game {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.new-game:hover,
.new-game:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.new-game:active {
  opacity: .5;
}

.shuffle {
    background: #e0ff42;
    border: 1px solid #e0ff42;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
  
.shuffle:hover,
.shuffle:active {
    background-color: initial;
    background-position: 0 0;
    color: #000000;
}

.shuffle:active {
    opacity: .5;
}

.clearSelections {
    background: #21e2c5;
    border: 1px solid #21e2c5;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .clearSelections:hover,
  .clearSelections:active {
    background-color: initial;
    background-position: 0 0;
    color: #21e2c5;
  }
  
  .clearSelections:active {
    opacity: .5;
  }

.submitButton {
    background: #06c10f;
    border: 1px solid #06c10f;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-top: 20px;
}
  
.submitButton:hover,
.submitButton:active {
    background-color: initial;
    background-position: 0 0;
    color: #06c10f;
}

.submitButton:active {
    opacity: .5;
}

.guessesContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.guessesText {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.guesses {
    display: flex;
    flex-direction: row;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 106);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.circleHide {
    display: none;
}

.selected:hover {
    background-color: rgb(143, 205, 226);
}

.selected {
    background-color: lightblue;
}

.correct {
    background-color: rgb(87, 190, 87);
}

.correct:hover {
    background-color: rgb(87, 190, 87);
    cursor: not-allowed;
}

@keyframes wrong-answer {
    0% { background-color: lightblue; }
    50% { background-color: red; }
    100% { background-color: lightblue; }
}

.red-animation {
    animation: wrong-answer 1s ease-in-out;
}

.select4Modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}
  
/* Modal Content/Box */
.select4Modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 320px; /* Could be more or less, depending on screen size */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.select4Modal-text {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
  
/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-left: 15px;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.correctCategoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 95%;
}
  
.correctCategory {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: lightgreen;
    border-radius: 10px;
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
    padding: 10px 0 10px 0;
    gap: 10px;
}

.titleCategory {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.wordsCategory {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.correctModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}
  
/* Modal Content/Box */
.correctModal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 220px; /* Could be more or less, depending on screen size */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.correctModal-text {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 600;
}
  
/* Close Button */
.closeCorrectModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.closeCorrectModal:hover,
.closeCorrectModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.alreadyWonModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}
  
/* Modal Content/Box */
.alreadyWonModal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 266px; /* Could be more or less, depending on screen size */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.alreadyWonModal-text {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 600;
}
  
/* Close Button */
.closeAlreadyWon {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.closeAlreadyWon:hover,
.closeAlreadyWon:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.failedModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}
  
/* Modal Content/Box */
.failedModal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 200px; /* Could be more or less, depending on screen size */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.failedModal-text {
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.failedModalButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 450px) { /* Adjust the max-width as needed */
    .gameGridItem {
        font-size: 9px;
        font-weight: 600;
    }
    .shuffle,
    .clearSelections,
    .new-game {
        font-size: 13px;
        font-weight: 800;
    }
    .correctCategory {
        width: 100%;
    }
    .select4Modal-content {
        width: 230px;
    }
}